<%- include('./includes/head.ejs') %>

<title><%= docTitle %></title>

</head>
<body>
    <h1>You are a new user, or you have new data since you last came</h1>

    <h2>the server fetching your data from last.fm in the background</h2>

    <h3>This may take up to 10 minutes</h3>

    <button><a href="/charts">Check back</a></button>

<%- include('./includes/end.ejs') %>