<%- include('./includes/head.ejs') %>

    <title><%= docTitle %></title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>

    <h1>Charts will load on this page</h1>
    <a href="/">Home</a>

<%- include('./includes/end.ejs') %>